@model IEnumerable<CaBlog.Models.THELOAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css{
    <link id="style" href="@Url.Content("~/Content/classic.css")" rel="stylesheet" media="screen">
}

<h2>Thể Loại</h2>

<div id="lstData"></div>

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.columns-1.0.min.js")"></script>

    <script>
        $.ajax({
            url: '@Url.Action("GetAll", "Theloai")',
            dataType: 'json',
            success: function (json) {
                lstData = $('#lstData').columns({
                    data: json,
                    schema: [
                    { "header": "Tên", "key": "ten" },
                    { "header": "Ngày Tạo", "key": "ngaytao" },
                    { "header": "", "key": "action" }
                    ]
                });
            }
        });
    </script>
}
